.b1 {
    background-color: #02343F;
}
.b3 {
    background-color: #f2aa4c9f;
}
.t1 {
    color: #02343F;
}

.b2{
    background-color: #F2AA4C;
}
.t2{
    color: #F2AA4C !important;
}
.my-btn {
    background-color: #02343F;
    color: #F2AA4C ;
}

.my-btn:hover {
    background-color: #F2AA4C;
    color: #02343F;
    border: 1px solid #02343F;
}

.project-card{
    background-color: #F2AA4C;
    border: 1px solid #02343F;
}
.project-card p h5 {
    color: #02343F;
}
.project-card:hover{
    
    border: 2px solid #02343F;
    padding: 10px;
}

.project-title{
    color: #02343F;
}
.project-title:hover{
    
    color: white ;
    
}

.project-owner{
    background-color: #02343F;
    color: #F2AA4C ;
}
.project-owner a{
    color: #F2AA4C ;
}

.project-owner:hover h5 a{
    color: #02343F;
}

.developer-card{
    background-color:  #02343F;
    border: 4px solid #02343F;
    color:  #F2AA4C;
}
.developer-card:hover{
    border: 4px solid #F2AA4C;
    color:  white;

}

.social-icon {
    color:  #F2AA4C;
}

.social-icon:hover {
    color:  white;
}